 {# <div class="isotope-filter button-group" data-target=".grid-1">
    <ul>
        <li><a class="button active" data-filter="*">All</a></li>
            {% for source in sources %}
            <li><a href="{{ path('podcasts_by_source', {source: source.id}) }}" class="button">{{ source.name}}</a></li>
             {% endfor %}
    </ul>
</div> #}
 <div class="row text-center">
 {% for source in sources %}
        <div class="col-sm-2">
          <figure>
   
            <a href="{{ path('podcasts_by_source', {source: source.id}) }}" class="btn btn-border btn-full-rounded">{{ source.name}}</a>
         
          </figure>
        </div>
 {% endfor %}
</div>
      <hr>