<footer class="dark-wrapper inverse-text">
  <div class="container inner pt-60 pb-60">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="widget">
          <h5 class="widget-title">Popular Posts</h5>
          <ul class="image-list">
            <li>
              <figure class="overlay overlay1"><a href="blog-post.html"></a> <img src="style/images/art/a1.jpg" alt="" />
                <figcaption><i class="et-link from-top icon-xs"></i></figcaption>
              </figure>
              <div class="post-content">
                <h6 class="post-title"> <a href="blog-post.html">Magna Mollis Ultricies Mauris</a> </h6>
                <div class="meta"><span class="date">12 Nov 2014</span></div>
              </div>
            </li>
            <li>
              <figure class="overlay overlay1"><a href="blog-post.html"></a> <img src="style/images/art/a2.jpg" alt="" />
                <figcaption><i class="et-link from-top icon-xs"></i></figcaption>
              </figure>
              <div class="post-content">
                <h6 class="post-title"> <a href="blog-post.html">Ornare Nullam Risus Cursus</a> </h6>
                <div class="meta"><span class="date">12 Nov 2014</span></div>
              </div>
            </li>
            <li>
              <figure class="overlay overlay1"><a href="blog-post.html"></a><img src="style/images/art/a3.jpg" alt="" />
                <figcaption><i class="et-link from-top icon-xs"></i></figcaption>
              </figure>
              <div class="post-content">
                <h6 class="post-title"> <a href="blog-post.html">Euismod Nullam Fusce Dapibus</a> </h6>
                <div class="meta"><span class="date">12 Nov 2014</span></div>
              </div>
            </li>
          </ul>
          <!-- /.image-list --> 
        </div>
        <!-- /.widget --> 
      </div>
      <!-- /column -->
      
      <div class="col-sm-6 col-md-3">
        <div class="widget">
          <h5 class="widget-title">About Us</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam euismod mollis. Consectetur adipiscing elit malesuada magna.</p>
        </div>
        <!-- /.widget -->
        
        <div class="widget">
          <h5 class="widget-title">Elsewhere</h5>
          <ul class="social social-bg social-s">
            <li><a href="#"><i class="et-twitter"></i></a></li>
            <li><a href="#"><i class="et-facebook"></i></a></li>
            <li><a href="#"><i class="et-pinterest"></i></a></li>
            <li><a href="#"><i class="et-vimeo"></i></a></li>
            <li><a href="#"><i class="et-instagram"></i></a></li>
          </ul>
        </div>
        <!-- /.widget --> 
      </div>
      <!-- /column -->
      <div class="space30 visible-sm clearfix"></div>
      <div class="col-sm-6 col-md-3">
        <div class="widget">
          <h5 class="widget-title">Get in Touch</h5>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus.</p>
          <div class="space20"></div>
          <ul class="icon-list">
            <li><i class="et-location-pin"></i> Moonshine St. 14/05 Light City </li>
            <li><i class="et-mail"></i> <a href="mailto:first.last@email.com" class="nocolor">first.last@email.com</a> </li>
            <li><i class="et-old-phone"></i> +00 (123) 456 78 90 </li>
            <li><i class="et-mobile"></i> +80 (547) 455 47 54 </li>
          </ul>
        </div>
        <!-- /.widget --> 
      </div>
      <!-- /column -->
      
      <div class="col-sm-6 col-md-3">
        <div class="widget">
          <h5 class="widget-title">Subscribe</h5>
          <div class="newsletter-wrapper">
            <form action="//elemisfreebies.us20.list-manage.com/subscribe/post?u=aa4947f70a475ce162057838d&amp;id=b49ef47a9a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="form-group">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-rounded mr-0 pull-right">Join</button>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_ddc180777a163e0f9f66ee014_056957de28" tabindex="-1" value="">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.widget -->
        
        <div class="widget">
          <h5 class="widget-title">Categories</h5>
          <ul class="unordered-list">
            <li><a href="#" class="nocolor">Lifestyle (21)</a></li>
            <li><a href="#" class="nocolor">Photography (19)</a></li>
            <li><a href="#" class="nocolor">Journal (16)</a></li>
            <li><a href="#" class="nocolor">Works (7)</a></li>
          </ul>
        </div>
        <!-- /.widget --> 
      </div>
      <!-- /column --> 
      
    </div>
    <!-- /.row --> 
    
  </div>
  <!-- /.container -->
  <div class="sub-footer dark-wrapper inverse-text">
    <div class="container inner text-center">
      <p>© 2017 crea;tink. All rights reserved. Theme by elemis.</p>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.sub-footer --> 
</footer>