<footer class="dark-wrapper inverse-text">

  <!-- /.container -->
  <div class="sub-footer dark-wrapper inverse-text">
    <div class="container inner text-center">
      <p>© 2017 crea;tink. All rights reserved. Theme by elemis.</p>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.sub-footer --> 
</footer>