  <nav class="navbar">
    <div class="container">
      <div class="flex-it">
        <div class="navbar-header">
          <div class="navbar-brand"><a href="{{ url('podcasts') }}"><img src="#" srcset="http://themes.iki-bir.com/creatink/style/images/logo.png 1x, style/images/logo@2x.png 2x" alt="" /></a></div>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
            </div>
            <!-- /.nav-bars-inner --> 
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="mega-menu"><a href="{{ url('podcasts') }}">Podcastai</a>
 
            </li>
            <li><a href="#!">Apie projektą</a>
              
            </li>
           
          </ul>
          <!--/.navbar-nav --> 
        </div>
        <!--/.nav-collapse -->
        <div class="navbar-other">
          <ul class="nav">
            <li>
              <div class="btn-group btn-search"> <a href="#" data-toggle="dropdown" class="nav-link"><i class="et-magnifying-glass"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <form class="search-form" action="{{ path('search_podcasts') }}">
                    <div class="form-group mb-0">
                      <input type="text" name="q" class="form-control" placeholder="Ieškok">
                    </div>
                    <!-- /.form-group -->
                  </form>
                  <!-- /.search-form --> 
                </div>
                <!-- /.dropdown-menu --> 
              </div>
              <!-- /.btn-group --></li>
          </ul>
        </div>
        <!-- /.navbar-other --> 
      </div>
      <!--/.flex-it --> 
    </div>
    <!--/.container --> 
  </nav>
  <!--/.navbar -->
