  <aside class="col-sm-4 sidebar">
          <div class="sidebox widget">
            <h5 class="widget-title">Search</h5>
            <form class="search-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search something">
              </div>
              <!-- /.form-group -->
            </form>
            <!-- /.search-form --> 
          </div>
          <!-- /.widget -->
          
          <div class="sidebox widget">
            <h5 class="widget-title">About Us</h5>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum. Nulla vitae elit libero, a pharetra augue. Donec id elit.</p>
            <ul class="social social-bg social-s">
              <li><a href="#"><i class="et-twitter"></i></a></li>
              <li><a href="#"><i class="et-facebook"></i></a></li>
              <li><a href="#"><i class="et-pinterest"></i></a></li>
              <li><a href="#"><i class="et-vimeo"></i></a></li>
              <li><a href="#"><i class="et-instagram"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- /.widget -->
          
          <div class="sidebox widget">
            <h5 class="widget-title">Popular Posts</h5>
            <ul class="image-list">
              <li>
                <figure class="overlay overlay1"><a href="blog-post.html"></a> <img src="style/images/art/a1.jpg" alt="" />
                  <figcaption><i class="et-link from-top icon-xs"></i></figcaption>
                </figure>
                <div class="post-content">
                  <h6 class="post-title"> <a href="blog-post.html">Magna Mollis Ultricies Mauris</a> </h6>
                  <div class="meta"><span class="date">12 Nov 2014</span></div>
                </div>
              </li>
              <li>
                <figure class="overlay overlay1"><a href="blog-post.html"></a> <img src="style/images/art/a2.jpg" alt="" />
                  <figcaption><i class="et-link from-top icon-xs"></i></figcaption>
                </figure>
                <div class="post-content">
                  <h6 class="post-title"> <a href="blog-post.html">Ornare Nullam Risus Cursus</a> </h6>
                  <div class="meta"><span class="date">12 Nov 2014</span></div>
                </div>
              </li>
              <li>
                <figure class="overlay overlay1"><a href="blog-post.html"> </a><img src="style/images/art/a3.jpg" alt="" />
                  <figcaption><i class="et-link from-top icon-xs"></i></figcaption>
                </figure>
                <div class="post-content">
                  <h6 class="post-title"> <a href="blog-post.html">Euismod Nullam Fusce Dapibus</a> </h6>
                  <div class="meta"><span class="date">12 Nov 2014</span></div>
                </div>
              </li>
            </ul>
            <!-- /.image-list --> 
          </div>
          <!-- /.widget -->
          
          <div class="sidebox widget">
            <h5 class="widget-title">Categories</h5>
            <ul class="unordered-list">
              <li><a href="#">Lifestyle (21)</a></li>
              <li><a href="#">Photography (19)</a></li>
              <li><a href="#">Journal (16)</a></li>
              <li><a href="#">Works (7)</a></li>
              <li><a href="#">Conceptual (12)</a></li>
              <li><a href="#">Videography (14)</a></li>
            </ul>
          </div>
          <!-- /.widget -->
          
          <div class="sidebox widget">
            <h5 class="widget-title">Tags</h5>
            <ul class="unordered-list">
              <li><a href="#">Still Life (11)</a></li>
              <li><a href="#">Urban (8)</a></li>
              <li><a href="#">Nature (6)</a></li>
              <li><a href="#">Landscape (9)</a></li>
              <li><a href="#">Macro (14)</a></li>
              <li><a href="#">Workshop (7)</a></li>
            </ul>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <h5 class="widget-title">Instagram</h5>
            <div class="tiles tiles-s">
              <div id="instafeed-widget" class="items row"></div>
            </div>
            <!--/.tiles --> 
          </div>
          <!-- /.widget --> 
          
        </aside>