  <aside class="col-sm-4 sidebar">
          <div class="sidebox widget">
            <h5 class="widget-title">Paieška</h5>
            <form class="search-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Paieška">
              </div>
              <!-- /.form-group -->
            </form>
            <!-- /.search-form --> 
          </div>
          <!-- /.widget -->
          
          <div class="sidebox widget">
            <h5 class="widget-title">Podcastų tipai</h5>
            <ul class="unordered-list">
              <li><a href="#">Audio (21)</a></li>
              <li><a href="#">Video (19)</a></li>
            </ul>
          </div>
          <!-- /.widget -->
          
          <div class="sidebox widget">
            <h5 class="widget-title">Tagai</h5>
            <ul class="unordered-list">
              <li><a href="#">Still Life (11)</a></li>
              <li><a href="#">Urban (8)</a></li>
              <li><a href="#">Nature (6)</a></li>
              <li><a href="#">Landscape (9)</a></li>
              <li><a href="#">Macro (14)</a></li>
              <li><a href="#">Workshop (7)</a></li>
            </ul>
          </div>
          <!-- /.widget -->
  
          <div class="sidebox widget">
            <h5 class="widget-title">Apie projektą</h5>
            <p>Krepšinio podcastai vienoje vietoje.</p>

            <div class="clearfix"></div>
          </div>
        </aside>