 <h3>Galite pasikeisti paskyros nustatymus</h3>
<form  method="post">
    <div class="form-group">
        <input type="text" name="fullName" class="form-control" placeholder="Vardas">
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        <input type="email" name="username" class="form-control" placeholder="El. paštas">
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Slaptažodis">
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Patvirtinkite slaptažodį">
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        <div class="checkbox mt-0 mb-0">
            <label>
                <input type="checkbox">
                <span>
        </div>
        <!-- /.checkbox -->
    </div>
    <!-- /.form-group -->
    <input type="hidden" name="token"
           value="{{ csrf_token('update_user') }}"
    >
    <button type="submit" class="btn btn-rounded">Saugoti pakeitimus</button>
</form>

{# {{ form_start(form) }}#}
{# {{ form_widget(form) }}#}
{#     <button type="submit" class="btn btn-rounded">Saugoti pakeitimus</button>#}
{# {{ form_end(form) }}#}