<h3>Jūsų mėgstamiausi podkastai</h3>
<ul class="icon-list list-green">
    {% if likedPodcasts|length > 0 %}
    {% for podcast in likedPodcasts %}
    <li><i class="et-chevron-right"></i> {{ podcast.title }}
        <p><audio controls class="entry-read-more1">
                <source src="{{ podcast.audio}}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio></p>
    </li>
    {% endfor %}
    {% else %}
    Nieko nepasižymėjote
    {% endif %}
</ul>