<ul class="nav nav-tabs nav-tabs-lined nav-tabs-lined-top flex-center">
    <li class="active"><a href="#tab3-1" data-toggle="tab">
            <div class="icon-img icon-img-m"><img
                    src="{{asset('/images/lulu-tag.png')}}" class="icon-lulu" alt="" />
            </div>
            <h5 class="mb-0">Pranešimai pagal tagus</h5>
        </a></li>
    <li><a href="#tab3-2" data-toggle="tab">
            <div class="icon-img icon-img-m"><img
                    src="{{asset('/images/lulu-happy-face.png')}}" class="icon-lulu"
                    alt="" /></div>
            <h5 class="mb-0">Mėgstamiausi podkastai</h5>
        </a></li>
    <li><a href="#tab3-3" data-toggle="tab">
            <div class="icon-img icon-img-m"><img
                    src="{{asset('/images/lulu-play.png')}}" class="icon-lulu"
                    alt="" /></div>
            <h5 class="mb-0">Perklausyti vėliau</h5>
        </a></li>
    <li><a href="#tab3-4" data-toggle="tab">
            <div class="icon-img icon-img-m"><img
                    src="{{ asset('/images/lulu-wrench.png')}}" class="icon-lulu"
                    alt="" /></div>
            <h5 class="mb-0">Paskyros nustatymai</h5>
        </a></li>

</ul>