 <h3>Galite pasikeisti paskyros nustatymus</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="El. paštas">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Slaptažodis">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Patvirtinkite slaptažodį">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="checkbox mt-0 mb-0">
                        <label>
                            <input type="checkbox">
                            <span>
                    </div>
                    <!-- /.checkbox -->
                </div>
                <!-- /.form-group -->
                <button type="submit" class="btn btn-rounded">Saugoti pakeitimus</button>
            </form>