{% extends 'front/layout/main.html.twig' %}

{% block content %}
    <div class="col-sm-6 offset-3">
        <h3>Įveskite savo el. paštą, kad galėtumėte atkurti slaptažodį</h3>
        <form method="post">
            <div class="form-group">
                <input type="email" class="form-control" name="username" placeholder="El. paštas">
            </div>

            <input type="hidden" name="token"
                   value="{{ csrf_token('reset_password') }}"
            >
            <button type="submit" class="btn btn-rounded">Atkurti slaptažodį</button>
        </form>
    </div>
{% endblock %}