{% extends 'front/layout/main.html.twig' %}

{% block content %}
    <div class="col-sm-6">
        <h3>Naujo slaptažodžio sukūrimas</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-rounded">Išsaugoti</button>
        {{ form_end(form) }}
    </div>
{% endblock %}