<div class="sh-filter-blog sh-filter-container sh-portfolio-filter-style3 sh-portfolio-filter-style4">
        <div class="sh-filter">
        <span class="sh-filter-item active">
            <a href="https://jevelin.shufflehound.com/blog1/" class="sh-filter-item-content">
                All				</a>
        </span>

        
            <span class="sh-filter-item">
                <a href="https://jevelin.shufflehound.com/blog1/?category=commercial" class="sh-filter-item-content">
                    Commercial					</a>
            </span>

        
            <span class="sh-filter-item">
                <a href="https://jevelin.shufflehound.com/blog1/?category=design" class="sh-filter-item-content">
                    Design					</a>
            </span>

        
            <span class="sh-filter-item">
                <a href="https://jevelin.shufflehound.com/blog1/?category=nature" class="sh-filter-item-content">
                    Nature					</a>
            </span>

        
            <span class="sh-filter-item">
                <a href="https://jevelin.shufflehound.com/blog1/?category=people" class="sh-filter-item-content">
                    People					</a>
            </span>

        
            <span class="sh-filter-item">
                <a href="https://jevelin.shufflehound.com/blog1/?category=photography" class="sh-filter-item-content">
                    Photography					</a>
            </span>

        
            <span class="sh-filter-item">
                <a href="https://jevelin.shufflehound.com/blog1/?category=tech" class="sh-filter-item-content">
                    Tech					</a>
            </span>

        
            <span class="sh-filter-item">
                <a href="https://jevelin.shufflehound.com/blog1/?category=travel" class="sh-filter-item-content">
                    Travel					</a>
            </span>

        
            <span class="sh-filter-item">
                <a href="https://jevelin.shufflehound.com/blog1/?category=uncategorized" class="sh-filter-item-content">
                    Uncategorized					</a>
            </span>

        </div>
    </div>