<div
    class="vc_row wpb_row vc_row-fluid wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1567695288018 vc_row_1045828412 custom-padding">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_mobile_element_alignment_center">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper" style="width: 100%; max-width: 800px;margin-left: auto; margin-right: auto;">

                <div class="sh-heading sh-heading-style1" id="heading-FAmOzv64q8">
                    <h2 class="sh-heading-content size-custom">
                        </span>
                        <span style="text-align: center;"><strong><em>Užsisakykite</em></strong> ir gaukite</span>
                        <span style="text-align: center;">pranešimus apie naujaus podcastus</span>
                        <span> </h2>
                </div>

                <style type="text/css">
                    @media (max-width: 1024px) {
                        #heading-FAmOzv64q8 .sh-heading-content {
                            font-size: 30px !important;
                        }
                    }

                    #heading-FAmOzv64q8 .sh-heading-content {
                        font-size: 40px;
                        font-weight: 400 !important;
                    }

                    #heading-FAmOzv64q8 .sh-heading-content strong,
                    #heading-FAmOzv64q8 .sh-heading-additional-text strong {
                        font-family: 'Playfair Display' !important;
                    }
                </style>

                <style media="screen">
                    @media (max-width: 1025px) {
                        .sh-empty-space-BMkiysvCWz {
                            height: 30px !important;
                        }
                    }
                </style>

                <div class="sh-empty-space vc_empty_space sh-empty-space-BMkiysvCWz  " style="height: 50px">
                    <span class="vc_empty_space_inner"></span>
                </div>


                <style media="screen">
                    #cf7-185 label {


                        font-weight:  !important;

                    }

                    #cf7-185 input:not([type="submit"]),
                    #cf7-185 select,
                    #cf7-185 textarea,
                    #cf7-185 .SumoSelect>.CaptionCont {


                        background-color: #f7f7f7 !important;

                        border-color: rgba(255, 255, 255, 0.01) !important;



                        transition: 0.3s all ease-in-out;
                    }

                    #cf7-185 input:not([type="submit"]):hover,
                    #cf7-185 select:hover,
                    #cf7-185 textarea:hover {

                        background-color: #f2f2f2 !important;

                    }

                    #cf7-185 input:not([type="submit"]):focus,
                    #cf7-185 select:focus,
                    #cf7-185 textarea:focus {}

                    #cf7-185 input:not([type="submit"]),
                    #cf7-185 select,
                    #cf7-185 .SumoSelect>.CaptionCont {
                        height: 60px !important;
                        line-height: 60px !important;
                    }

                    #cf7-185 .SumoSelect.open>.optWrapper {
                        top: 66px !important;
                    }

                    #cf7-185 textarea {
                        padding-top: 17px !important;
                        padding-bottom: 17px !important;
                    }

                    #cf7-185 .wpcf7-submit {

                        height: 60px !important;

                        line-height: 55px !important;

                        background-color: #007aff !important;

                        border-color: #007aff;

                        border-width: 2px;
                        border-style: solid;

                        margin: 0px 0px 0px 10px !important;
                    }


                    @media (max-width: 800px) {
                        #cf7-185 .wpcf7-submit {
                            margin: 0 auto 0 auto !important;
                        }
                    }

                    #cf7-185 .wpcf7-submit:hover,
                    #cf7-185 .wpcf7-submit:focus {

                        background-color: #3898ff !important;

                        border-color: rgba(0, 0, 0, 0.01);
                    }


                    @media (min-width: 800px) {

                        #cf7-185.sh-cf7-layout-inline form>p,
                        #cf7-185.sh-cf7-layout-inline .sh-cf7-body>* {
                            vertical-align: top !important;
                        }
                    }
                </style>


                <div id="cf7-185"
                    class="sh-cf7 sh-cf7-wpbakery sh-cf7-style2 sh-cf7-layout-inline sh-cf7-inline-full-width sh-cf7-text-align-label-left sh-cf7-submit-align-left sh-cf7-submit-width-inline">
                    <div role="form" class="wpcf7" id="wpcf7-f185-p140-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="#" method="post" class="wpcf7-form"
                            novalidate="novalidate">
                            <div class="sh-cf7-body"><span class="wpcf7-form-control-wrap email-813"><input type="email"
                                        name="email-813" value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email"
                                        aria-invalid="false" placeholder="Įveskit el.paštą" /></span>

                                <input type="submit" value="Siųsti" class="wpcf7-form-control wpcf7-submit" /></div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style type="text/css">
        @media (max-width: 800px) {

            #content .vc_row_1045828412,
            .sh-footer-template .vc_row_1045828412,
            .sh-header-template .vc_row_1045828412 {
                padding: 30px 10px 30px 10px !important;
            }
        }
    </style>
</div