<footer class="sh-footer">

	<div class="sh-footer-widgets">
		<div class="container">
			<div class="sh-footer-columns">

				<div id="image-2" class="widget_social_links widget-item widget_image">
					<div class="wrap-image">
						<h3 class="widget-title">Apie projektą</h3>
						<div class="sh-image-widgets">

							<p class="sh-image-widgets-description">
								Krepšinio podcastai vienoje vietoje. </p>

						</div>
					</div>
				</div>
				<div id="contacts-2" class="widget_social_links widget-item widget_contacts">
					<div class="wrap-social">
						<h3 class="widget-title">Komanda</h3>
						<div class="sh-contacts-widget-item">

							Nerijus </div>
						<div class="sh-contacts-widget-item">

							Edvardas </div>
						<div class="sh-contacts-widget-item">

							Kazimieras </div>
						<div class="sh-contacts-widget-item">

							Eligijis (mentorius) </div>


					</div>
				</div>
				<div id="recent_posts-2" class="widget_social_links widget-item widget_recent_posts">
					<div class="wrap-recent-posts">
						<h3 class="widget-title">Reklama</h3>
						<div class="sh-recent-posts-widgets">


						</div>
					</div>
				</div>
				<div id="portfolio-2" class="widget_social_links widget-item widget_portfolio">
					<div class="wrap-portfolio">
						<h3 class="widget-title">Reklama2</h3>

					</div>
				</div>
			</div>
		</div>
	</div>


</footer>