<footer class="sh-footer">

	<div class="sh-footer-widgets">
		<div class="container">
			<div class="sh-footer-columns">

				<div id="image-2" class="widget_social_links widget-item widget_image">
					<div class="wrap-image">
						<h3 class="widget-title">About Us</h3>
						<div class="sh-image-widgets">

							<p class="sh-image-widgets-description">
								Duis semper mauris vitae purus rhoncus suscipit. Nunc dictum dapibus tellus, at viverra
								risus pharetra id. Nulla facilisi. Ut mollis et augue non gravida. Sed ipsum urna,
								venenatis ut vehicula nec, ultrices quis sapien. </p>

						</div>
					</div>
				</div>
				<div id="contacts-2" class="widget_social_links widget-item widget_contacts">
					<div class="wrap-social">
						<h3 class="widget-title">Contacts</h3>
						<div class="sh-contacts-widget-item">
							<i class="icon-map"></i>
							County, Street name - number </div>
						<div class="sh-contacts-widget-item">
							<i class="icon-phone"></i>
							032 267 899 442 </div>
						<div class="sh-contacts-widget-item">
							<i class="icon-envelope"></i>
							company@name.com </div>
						<div class="sh-contacts-widget-item">
							<i class="icon-clock"></i>
							Mon.-Fri.: 10-20 Sun.: 12-16 </div>

					</div>
				</div>
				<div id="recent_posts-2" class="widget_social_links widget-item widget_recent_posts">
					<div class="wrap-recent-posts">
						<h3 class="widget-title">Recent Posts</h3>
						<div class="sh-recent-posts-widgets">

							<div class="sh-recent-posts-widgets-item">
								<div class="sh-recent-posts-widgets-item-thumb">
									<a href="https://jevelin.shufflehound.com/team-retreat-at-ocean-spa/">

										<div class="sh-ratio">
											<div class="sh-ratio-container sh-ratio-container-square">
												<div class="sh-ratio-content"
													style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-150x150.jpg);">
												</div>
											</div>
										</div>
										<div class="sh-mini-overlay">
											<div class="sh-mini-overlay-container">
												<div class="sh-table-full">
													<div class="sh-table-cell">
														<i class="icon-link"></i>
													</div>
												</div>
											</div>
										</div>

										<div class="sh-recent-posts-widgets-count">
											0 </div>
									</a>
								</div>
								<div class="sh-recent-posts-widgets-item-content">


									<span class="post-meta-categories">
										<a href="https://jevelin.shufflehound.com/category/travel/">Travel</a>, <a
											href="https://jevelin.shufflehound.com/category/uncategorized/">Uncategorized</a>
									</span>

									<a href="https://jevelin.shufflehound.com/team-retreat-at-ocean-spa/">
										<h6>The team watchers</h6>
									</a>

								</div>
							</div>

							<div class="sh-recent-posts-widgets-item">
								<div class="sh-recent-posts-widgets-item-thumb">
									<a href="https://jevelin.shufflehound.com/searching-for-the-way-out/">

										<div class="sh-ratio">
											<div class="sh-ratio-container sh-ratio-container-square">
												<div class="sh-ratio-content"
													style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_2-150x150.jpg);">
												</div>
											</div>
										</div>
										<div class="sh-mini-overlay">
											<div class="sh-mini-overlay-container">
												<div class="sh-table-full">
													<div class="sh-table-cell">
														<i class="icon-link"></i>
													</div>
												</div>
											</div>
										</div>

										<div class="sh-recent-posts-widgets-count">
											0 </div>
									</a>
								</div>
								<div class="sh-recent-posts-widgets-item-content">


									<span class="post-meta-categories">
										<a href="https://jevelin.shufflehound.com/category/design/">Design</a>, <a
											href="https://jevelin.shufflehound.com/category/travel/">Travel</a> </span>

									<a href="https://jevelin.shufflehound.com/searching-for-the-way-out/">
										<h6>Creative day off</h6>
									</a>


								</div>
							</div>

							<div class="sh-recent-posts-widgets-item">
								<div class="sh-recent-posts-widgets-item-thumb">
									<a href="https://jevelin.shufflehound.com/the-trip-is-on/">

										<div class="sh-ratio">
											<div class="sh-ratio-container sh-ratio-container-square">
												<div class="sh-ratio-content"
													style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_3-150x150.jpg);">
												</div>
											</div>
										</div>
										<div class="sh-mini-overlay">
											<div class="sh-mini-overlay-container">
												<div class="sh-table-full">
													<div class="sh-table-cell">
														<i class="icon-link"></i>
													</div>
												</div>
											</div>
										</div>

										<div class="sh-recent-posts-widgets-count">
											0 </div>
									</a>
								</div>
								<div class="sh-recent-posts-widgets-item-content">


									<span class="post-meta-categories">
										<a href="https://jevelin.shufflehound.com/category/news/">News</a>, <a
											href="https://jevelin.shufflehound.com/category/travel/">Travel</a> </span>

									<a href="https://jevelin.shufflehound.com/the-trip-is-on/">
										<h6>The smell of roses</h6>
									</a>

								</div>
							</div>

						</div>
					</div>
				</div>
				<div id="portfolio-2" class="widget_social_links widget-item widget_portfolio">
					<div class="wrap-portfolio">
						<h3 class="widget-title">Latest Projects</h3>
						<div class="sh-portfolio-widget">

							<div class="sh-portfolio-widget-item">
								<a href="https://jevelin.shufflehound.com/project/riding-the-waves/"
									title="Stack of bottles" class="sh-portfolio-widget-background">

									<div class="sh-ratio">
										<div class="sh-ratio-container sh-ratio-container-square">
											<div class="sh-ratio-content"
												style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-150x150.jpg);">
											</div>
										</div>
									</div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>

							<div class="sh-portfolio-widget-item">
								<a href="https://jevelin.shufflehound.com/project/its-the-coast/"
									title="Brand in the bag" class="sh-portfolio-widget-background">

									<div class="sh-ratio">
										<div class="sh-ratio-container sh-ratio-container-square">
											<div class="sh-ratio-content"
												style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_3-150x150.jpg);">
											</div>
										</div>
									</div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>

							<div class="sh-portfolio-widget-item">
								<a href="https://jevelin.shufflehound.com/project/the-green-road/"
									title="Mock up of the web" class="sh-portfolio-widget-background">

									<div class="sh-ratio">
										<div class="sh-ratio-container sh-ratio-container-square">
											<div class="sh-ratio-content"
												style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_6_4-150x150.jpg);">
											</div>
										</div>
									</div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>

							<div class="sh-portfolio-widget-item">
								<a href="https://jevelin.shufflehound.com/project/pilot-in-the-sky/"
									title="Books and covers" class="sh-portfolio-widget-background">

									<div class="sh-ratio">
										<div class="sh-ratio-container sh-ratio-container-square">
											<div class="sh-ratio-content"
												style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Paperback-Book-Mockup-vol-2-150x150.jpg);">
											</div>
										</div>
									</div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>

							<div class="sh-portfolio-widget-item">
								<a href="https://jevelin.shufflehound.com/project/vintage-typewriter/"
									title="Notebook design" class="sh-portfolio-widget-background">

									<div class="sh-ratio">
										<div class="sh-ratio-container sh-ratio-container-square">
											<div class="sh-ratio-content"
												style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/Portfolio_5_1-150x150.jpg);">
											</div>
										</div>
									</div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>

							<div class="sh-portfolio-widget-item">
								<a href="https://jevelin.shufflehound.com/project/multitasking-at-work/"
									title="Three mock up stack" class="sh-portfolio-widget-background">

									<div class="sh-ratio">
										<div class="sh-ratio-container sh-ratio-container-square">
											<div class="sh-ratio-content"
												style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/Portfolio_6-150x150.jpg);">
											</div>
										</div>
									</div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>


							<div class="sh-portfolio-widget-item">
								<a href="https://jevelin.shufflehound.com/project/the-rising-hound/"
									title="Office composition" class="sh-portfolio-widget-background">

									<div class="sh-ratio">
										<div class="sh-ratio-container sh-ratio-container-square">
											<div class="sh-ratio-content"
												style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/photo-1455612810508-8faae6db6455-150x150.jpg);">
											</div>
										</div>
									</div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>


							<div class="sh-portfolio-widget-item">
								<a href="https://jevelin.shufflehound.com/project/wind-at-white-castle/"
									title="Half a frame" class="sh-portfolio-widget-background">

									<div class="sh-ratio">
										<div class="sh-ratio-container sh-ratio-container-square">
											<div class="sh-ratio-content"
												style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_1_1-150x150.jpg);">
											</div>
										</div>
									</div>
									<div class="sh-mini-overlay">
										<div class="sh-mini-overlay-container">
											<div class="sh-table-full">
												<div class="sh-table-cell">
													<i class="icon-link"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sh-copyrights">
		<div class="container container-padding">

			<div class="sh-copyrights-style2">
				<div class="sh-table-full">
					<div class="sh-table-cell">

						<div class="sh-copyrights-logo">
							<img src="//cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Logo_white.png"
								class="sh-copyrights-image" alt="" />
						</div>
					</div>
					<div class="sh-table-cell">

						<div class="sh-copyrights-text">
							<span class="developer-copyrights ">
								WordPress Theme built by <a href="https://shufflehound.com"
									target="blank"><strong>Shufflehound</strong>.</a>
							</span>
							<span></span>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</footer>