<footer class="dark-wrapper inverse-text">
  <div class="sub-footer dark-wrapper inverse-text">
    <div class="container inner text-center">
      <p>© {{ "now"|date("Y") }}. Sukurta su <i class="et-heart heart-color"></i> NFQ akademijos studentų. Dizainas
        pasiskolintas iš
        <a href="http://themes.iki-bir.com/creatink/index.html">crea;tink</a></p>
    </div>
  </div>
</footer>