<header class="primary-mobile primary-mobile-light primary-mobile-light-noborder">

    <div id="header-mobile" class="sh-header-mobile">
        <div class="sh-header-mobile-navigation">


            <div class="container">
                <div class="sh-table">
                    <div class="sh-table-cell sh-group">

                        <div class="header-logo sh-group-equal">
                            <a href="https://jevelin.shufflehound.com/blog1/"
                                class="header-logo-container sh-table-small">

                                <div class="sh-table-cell">
                                    <img class="sh-standard-logo"
                                        src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Logo_dark_2-1.png"
                                        alt="Jevelin Theme Blog Demo" />
                                    <img class="sh-sticky-logo"
                                        src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Logo_dark_2-1.png"
                                        alt="Jevelin Theme Blog Demo" />
                                    <img class="sh-light-logo"
                                        src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Jevelin-logov1.png"
                                        alt="Jevelin Theme Blog Demo" />
                                </div>

                            </a>
                        </div>


                    </div>
                    <div class="sh-table-cell">

                        <nav id="header-navigation-mobile" class="header-standard-position">
                            <div class="sh-nav-container">
                                <ul class="sh-nav">


                                    <li class="menu-item sh-nav-dropdown">
                                        <a>
                                            <div class="sh-table-full">
                                                <div class="sh-table-cell">
                                                    <span class="c-hamburger c-hamburger--htx">
                                                        <span>Toggle menu</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>
        </div>

        <nav class="sh-header-mobile-dropdown">
            <div class="container sh-nav-container">
                <ul class="sh-nav-mobile"></ul>
            </div>

            <div class="container sh-nav-container">
                <div class="header-mobile-search">
                    <form role="search" method="get" class="header-mobile-form"
                        action="https://jevelin.shufflehound.com/blog1/">
                        <input class="header-mobile-form-input" type="text" placeholder="Paieška" value=""
                            name="s" required />
                        <button type="submit" class="header-mobile-form-submit">
                            <i class="icon-magnifier"></i>
                        </button>
                    </form>
                </div>
            </div>

        </nav>
    </div>
</header>
<header class="primary-desktop primary-desktop-light primary-desktop-light-noborder">

    <div class="sh-header-height">
        <div class="sh-header sh-header-1 sh-header-small-icons">
            <div class="container">
                <div class="sh-table">
                    <div class="sh-table-cell sh-group">

                        <div class="header-logo sh-group-equal">
                            <a href="#"
                                class="header-logo-container sh-table-small">

                                <div class="sh-table-cell">
                                    <img class="sh-standard-logo"
                                        src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Logo_dark_2-1.png"
                                        alt="Jevelin Theme Blog Demo" />
                                    <img class="sh-sticky-logo"
                                        src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Logo_dark_2-1.png"
                                        alt="Jevelin Theme Blog Demo" />
                                    <img class="sh-light-logo"
                                        src="//jevelin.shufflehound.com/blog1/wp-content/uploads/sites/11/2016/11/Jevelin-logov1.png"
                                        alt="Jevelin Theme Blog Demo" />
                                </div>

                            </a>
                        </div>


                    </div>
                    <div class="sh-table-cell">

                        <nav id="header-navigation" class="header-standard-position">
                            <div class="sh-nav-container">
                                <ul id="menu-menu-1" class="sh-nav">
                                    <li id="menu-item-7"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-7">
                                        <a href="{{ url('podcasts') }}">Podcastai</a></li>
                                  
                                    <li id="menu-item-112"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112"><a
                                            href="#">Apie projektą</a>
                                    </li>
        
                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>


            <div id="header-search" class="sh-header-search">
                <div class="sh-table-full">
                    <div class="sh-table-cell">

                        <div class="line-test">
                            <div class="container">

                                <form method="get" class="sh-header-search-form"
                                    action="#">
                                    <input type="search" class="sh-header-search-input" placeholder="Ieškoti"
                                        value="" name="s" required />
                                    <button type="submit" class="sh-header-search-submit">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                    <div class="sh-header-search-close close-header-search">
                                        <i class="ti-close"></i>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<style media="screen">
    .sh-titlebar {
        background-image: url(https://making-the-web.com/sites/default/files/clipart/173021/picture-basketball-173021-7022876.png );
    }

        {
        # //cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/Blog_title_image.jpg #}
</style>


<div
    class="sh-titlebar sh-titlebar-center sh-titlebar-light sh-titlebar-text-style2 sh-titlebar-mobile-layout-compact sh-titlebar-mobile-title-on">
    <div class="container">
        <div class="sh-table sh-titlebar-height-small">
            <div class="sh-table-cell">
                <div class="titlebar-title">

                    <h2 class="titlebar-title-h1">
                        Krepšinio podcastai </h2>

                    {# <div class="sh-titlebar-desc">
                        <p>Podcastai, pokalbiai apie krepšinį</p>
                    </div> #}

                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    if (document.documentElement.clientWidth > 1020) {
        var header_height = document.getElementsByClassName('primary-desktop')[0].clientHeight;
        document.getElementsByClassName("sh-titlebar")[0].style.paddingTop = header_height + 'px';
    } else {
        var header_height = document.getElementsByClassName('sh-header-mobile-navigation')[0].clientHeight;
        document.getElementsByClassName("sh-titlebar")[0].style.paddingTop = header_height + 'px';
    }
</script>