<div class="parallax inverse-text" style="background-image: url({{ asset('/images/main.jpg') }});">
  <div class="container inner pt-120 pb-120 text-center">
    <h1 class="section-title">Krepšinio podcastai</h1>
    <p class="lead text-center mb-0">Podkastai, pokalbiai vienoje vietoje</p>
  </div>
</div>