<div id="sidebar" class="sidebar-right">
				
	<div id="search-2" class="widget-item widget_search">
            <form method="get" class="search-form" action="#">
                <div>
                    <label>
                        <input type="search" class="sh-sidebar-search search-field" placeholder="Paieška" value="" name="s" title="Search text" required />
                    </label>
                    <button type="submit" class="search-submit">

                    </button>
                </div>
			</form>
	</div>
			
	<div id="categories-3" class="widget-item widget_categories">
		<h3 class="widget-title">Podcastų tipas</h3>		
		<ul>
		<li class="cat-item cat-item-24"><a href="#">Audio</a> (1)
		</li>
			<li class="cat-item cat-item-21"><a href="#">Video</a> (5)
		</li>
	</ul>
	</div>
			
	<div id="tag_cloud-2" class="widget-item widget_tag_cloud">
		<h3 class="widget-title">Šaltiniai</h3>
		<div class="tagcloud">
			{% for source in sources %}
				<a href="#" class="tag-cloud-link tag-link-39 tag-link-position-1"
						style="font-size: 8pt;" aria-label="Boat (1 item)">{{ source.name}}</a>
			{% endfor %}
	</div>	

		
	</div>
</div>