   <ul class="list-inline">
      {% for source in sources %}
      <li>
        <a href="{{ path('podcasts_by_source', {slug: source.slug}) }}" class="">{{ source.name}}</a>
      </li>
      {% endfor %}
    </ul>