<div class="sh-filter-blog sh-filter-container sh-portfolio-filter-style3 sh-portfolio-filter-style4">
    <div class="sh-filter">
        <span class="sh-filter-item">
            <a href="{{ path('podcasts') }}" class="sh-filter-item-content">
               Visi
            </a>
        </span>
        {% for source in sources %}
        <span class="sh-filter-item">
            <a href="{{ path('podcasts_by_source', {source: source.id}) }}" class="sh-filter-item-content">
                {{ source.name}}
            </a>
        </span>
        {% endfor %}

    </div>
</div>