<html>
<head>
    <style>
        .backgorund{
            background: #F0F2F5;
            padding: 50px;
            font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
        }
        .block{
            background: #FFFFFF;
            padding: 50px;
            box-shadow: 1px 1px 4px #a5a2a1;
        }
        .block p{
            color: #a5a2a1 ;
        }
        .verify{
            display: inline-block;
            padding: 20px 40px;
            background: #5CAF38;
            color: #ffffff;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
        }
        .verify:link, .verify:visited, .verify:active{
            background: #519b32;
            text-decoration: none;
        }
        .verify:hover{
            background: #519b32;
        }
        p.url{
            color: #0EA3FB;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="backgorund">
    <div class="block">
        <h1>El. paštas patvirtintas!</h1>
        {% if user is defined%}
            <a href="{{ url('app_login') }}" class="verify">Galite prisijungti čia</a>
        {% endif %}

        {% if subscriber is defined %}
            <p>Nuo šiol gausite naujienlaiškius su naujais krepšinio podcastais!</p>
        {% endif %}
    </div>
</div>
</body>
</html>