<!DOCTYPE html>
<html lang="lt">

<head>
    <style>
        .backgorund {
            background: #F0F2F5;
            padding: 50px;
            font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
        }

        .block {
            background: #FFFFFF;
            padding: 50px;
            box-shadow: 1px 1px 4px #a5a2a1;
        }

        .block p {
            color: #a5a2a1;
        }

        .verify {
            display: inline-block;
            padding: 20px 40px;
            background: rgb(10, 51, 235);
            color: #ffffff !important;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
        }

        .verify:link,
        .verify:visited,
        .verify:active {
            background: #0947f1;
            text-decoration: none;
        }

        .verify:hover {
            background: #171bf0;
        }

        p.url {
            color: #0EA3FB;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="backgorund">
        <div class="block">
            <h1>Slaptažodžio atkūrimas</h1>
            <p>Paspauskite žemiau esančią nuorodą, jei norite susikurti naują slaptažodį.</p>
            <a href="{{ url('reset_password', {passwordResetToken: user.passwordResetToken}) }}">Sukurti naują
                slaptažodį</a>
        </div>
    </div>
</body>

</html>