{% extends 'front/layout/main.html.twig' %}

{% block header %}
{{ include('front/layout/header.html.twig') }}
{% endblock %}

{% block content %}

<div class="col-md-6">
    <figure><img src="{{asset('/images/team.jpg')}}" alt=""></figure>
    <h5>Projektą kūrė</h5>
    <ul class="icon-list list-blue about-project">
        <li><i class="et-user"></i>Edvardas</li>
        <li><i class="et-user"></i>Nerijus</li>
        <li><i class="et-user"></i>Kazimieras</li>
        <li><i class="et-users"></i>Eligijus (mentorius)</li>
    </ul>
</div>

<div class="space30 hidden-xs hidden-md hidden-lg"></div>
<div class="col-md-6">
    <h3>Apie projektą</h3>
    <p>
        Dabar labai populiarūs podkastai. Apie krepšinį ne išimtis. Mūsų projektas surenka visus su krepšiniu susijusius
        podkastus, diskusijas (iš Youtube) į vieną vietą. Jums nebereikės prisiminti daugybės skirtingų puslapių, juos
        visus nuolat lankyti ir sekti, viskas yra viename puslapyje -
        <a href="https://podcast.projektai.nfqakademija.lt" target="_blank">Krepšinio podcastai</a>.
    </p>
    <h5>Funkcijos</h5>
    <ul class="icon-list list-blue about-project">
        <li><i class="et-check"></i>Išrikiuota pagal naujausius podkastus.</li>
        <li><i class="et-check"></i>Filtrai pagal tipą, šaltinį, tagus.</li>
        <li><i class="et-check"></i>Pranešimai apie naujus podcastus el. paštu.</li>
        <li><i class="et-check"></i>Paieška.</li>
        <li><i class="et-check"></i>Pranešimai el. paštu pagal raktažodį (registruotiems vartotojams).</li>
        <li><i class="et-check"></i>Pasižymėti podkastus ir juos perklausyti vėliau (registruotiems vartotojams).</li>
        <li><i class="et-check"></i>Galima pasižymėti patikusius (registruotiems vartotojams).</li>
        <li><i class="et-check"></i>Komentuoti podkastus (registruotiems vartotojams).</li>
    </ul>

    <h5>Šaltiniai</h5>
    <ul class="icon-list list-green about-project">
        {% for source in sources|sort %}
        <li><i class="et-chevron-right"></i><a href="{{ path('podcasts_by_source', {slug: source.slug}) }}" class="">{{ source.name}}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}