<div class="visible-xs-block custom-mobile">

    <ul class="list-inline">
        <li>
            {{ render(controller('App\\Controller\\PublicController::getSourcesSectionForMobile')) }}
        </li>
        <li>
            <form class="search-form" action="{{ path('search_podcasts') }}">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Paieška">
                </div>
            </form>
        </li>
    </ul>

</div>