        <hr />
            <h4>Would you like to share your thoughts?</h4>
            <p>Your email address will not be published. Required fields are marked *</p>
            <div class="space20"></div>
            <form class="comment-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Website">
              </div>
              <div class="form-group">
                <textarea name="textarea" class="form-control" rows="5" placeholder="Enter your comment here..."></textarea>
              </div>
              <button type="submit" class="btn btn-rounded">Submit</button>
            </form>
            <!-- /.comment-form --> 