{% extends 'front/layout/main.html.twig' %}

{% block content %}

    <h1 class="section-title mb-40 text-center">404 Puslapis nerastas</h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          Keletas priežasčių kodėl puslapis nerastas:
           <ul class="unordered-list list-blue">
            <li>Įvedėte neegzistuojantčio puslapio adresą</li>
            <li>Puslapio adresas buvo pakeistas</li>
            <li>Manote, kad toks puslapis egzistuoja ir įvyko klaida, parašykite <b>krepsinio.podcast@gmail.com</b></li>
          </ul>
        </div>
{% endblock %}