{% extends 'front/layout/main.html.twig' %}

{% block content %}

    <h1 class="section-title mb-40 text-center">500 klaida <small>Serveris negali įvykdyti jūsų užklausos</small></h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
        </div>
{% endblock %}